<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
</head>
<body>
    <main>
        <div>
            <h1>{{whaetver.name}}</h1>
            <p><a href="{%url "todo_list_update" whaetver.pk%}">Edit</p></a>
            <p><a href="{%url "todo_list_delete" whaetver.pk%}">Delete</p></a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {%for list in whaetver.items.all%}
                    <tr>
                        <td><a href="{% url 'todo_item_update' list.id %}">{{ list.task }}</a></td>
                        <td>{{list.due_date}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>